body{
	height: 90vh;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tela{
	position: relative;
	height: 300px;
	width: 500px;
	animation: mexerControle 5s infinite alternate;
}

@keyframes mexerControle {
	20% {
		transform: translate(100px);
	}
}

.controle{
	position: absolute;
	top: 50px;
	left: 50px;
	height: 200px;
	width: 400px;
	background-color: #222;
	border-radius: 50% 50% 20% 20%;
}
.marca{
	position: absolute;
	top: 0px;
	left: 43%;
	font-family: 'Alfa Slab One', cursive;
	font-size: 18px;
	font-weight: bolder;
	color: #000;
}
.bola{
	position: absolute;
	bottom: -48px;
	left: 25%;
	height: 100px;
	width: 200px;
	background-color: #fff;
	border-radius: 60%;
}
.circulo-esquerdo{
	position: absolute;
	top: 35px;
	left: 25px;
	height: 100px;
	width: 130px;
	background-color: #222;
	border-radius: 100%;
	border: solid 10px #111;
}
.botao-esquerdo{
	position: absolute;
	top: 4px;
	left: 19px;
	height: 80px;
	width: 80px;
	background-color: #222;
	border-radius: 100%;
	border: solid 6px #111;
}
.botao-em-pe{
	position: absolute;
	top: 6px;
	left: 26px;
	height: 60px;
	width: 20px;
	background-color: #222;
	border: solid 4px #111;
	border-radius: 15%;
	animation: piscarBotao 1s infinite;
}

@keyframes piscarBotao {
	60% {
		background-color: #111;
	}
}

.botao-sombra{
	position: absolute;
	top: 2px;
	left: 21px;
	height: 17px;
	width: 17px;
	background-color: #111;
	border-radius: 100%;
	animation: piscarBotaoSombra 1s infinite;
}

@keyframes piscarBotaoSombra {
	60% {
		background-color: #000;
	}
}
.botao-deitado{
	position: absolute;
	top: 26px;
	left: 6px;
	height: 20px;
	width: 60px;
	background-color: #222;
	border: solid 4px #111;
	border-radius: 15%;
	animation: piscarBotao 1s infinite;
}
.botao-inicio{
	position: absolute;
	top: 32%;
	left: 45%;
	font-size: 13px;
	font-weight: bolder;
}
.botao-meio{
	position: absolute;
	top: 47%;
	left: 47%;
	height: 10px;
	width: 25px;
	background-color: #111;
	border-radius: 25%;
}
.circulo-direito{
	position: absolute;
	top: 35px;
	right: 25px;
	height: 100px;
	width: 130px;
	background-color: #222;
	border-radius: 100%;
	border: solid 10px #111;
}
.botao1a{
	position: absolute;
	top: 30px;
	left: 15px;
	height: 20px;
	width: 20px;
	background-color: #555;
	border-radius: 100%;
	border: solid 2px #111;
	animation: piscarBotoes1 1s infinite;
}
.botao1b{
	position: absolute;
	top: 22px;
	left: 50px;
	height: 20px;
	width: 20px;
	background-color: #555;
	border-radius: 100%;
	border: solid 2px #111;
	animation: piscarBotoes1 1s infinite;
}
.botao1c{
	position: absolute;
	top: 15px;
	right: 20px;
	height: 20px;
	width: 20px;
	background-color: #555;
	border-radius: 100%;
	border: solid 2px #111;
	animation: piscarBotoes1 1s infinite;
}

@keyframes piscarBotoes1 {
	60% {
		background-color: #444;
	}
}

.botao2a{
	position: absolute;
	bottom: 15px;
	left: 13px;
	height: 25px;
	width: 25px;
	background-color: #333;
	border-radius: 100%;
	border: solid 2px #111;
	animation: piscarBotoes2 1s infinite;
}
.botao2b{
	position: absolute;
	bottom: 23px;
	left: 53px;
	height: 25px;
	width: 25px;
	background-color: #333;
	border-radius: 100%;
	border: solid 2px #111;
	animation: piscarBotoes2 1s infinite;
}
.botao2c{
	position: absolute;
	bottom: 31px;
	right: 5px;
	height: 25px;
	width: 25px;
	background-color: #333;
	border-radius: 100%;
	border: solid 2px #111;
	animation: piscarBotoes2 1s infinite;
}

@keyframes piscarBotoes2 {
	60% {
		background-color: #222;
	}
}

.numero{
	position: absolute;
	top: -6px;
	left: 7px;
	font-family: 'Alfa Slab One', cursive;
	font-size: 10px;
	font-weight: bolder;
	color: #333;
}
.letra{
	position: absolute;
	top: -13px;
	left: 7px;
	font-family: 'Alfa Slab One', cursive;
	font-size: 15px;
	font-weight: bolder;
	color: #111;
}